textarea {
    resize: none;
    padding: 5px;
    letter-spacing: 1px;
    line-height: 1.5rem;
    margin: 5px 0px 3px;
    width: 98%;
  }

  input {
    letter-spacing: 1px;
    line-height: 2rem;
    width: 98%;
    margin: 5px 0px 5px;
    padding: 5px;
  }

label {
    margin: 5px 0px 2px;
  }

label, input {
    display: block;
}