.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $layout-margin $layout-margin $layout-margin/2;
  max-width:1400px;
  &-logo {
    transform: scale(1);
    opacity: 1;
    transition: transform 0.12s ease-in-out;
    
    &:hover, &:active, &:focus {
      -webkit-tap-highlight-color: transparent;
      transform: scale(1.05);
      opacity: 0.85;
    }
    & svg {
    width: 200px;
    margin-right: 10px;
    @media (max-width: 768px) {
      width: 150px;
      min-width:90px;
      }
    }
  }

  @media (max-width: 768px) {
    padding: $layout-margin/2 $layout-margin/2 $layout-margin/4;
    flex-wrap: wrap;
    }

  @media (max-width: 350px) {
    padding: $layout-margin/2 $layout-margin/2 $layout-margin/4;
    flex-wrap: wrap;
    }

}
