.header-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    align-self: flex-end;
    margin: 20px 10px 10px;
    width:100%;
    @include tagslist-style;

    @media (max-width: 768px) {
        order: 3;
        }
}