
.btn {
  @include btn;
  background: transparent;
  border: none;
}

.btn-tag {
  @include btn;
  color: $colour-primary;
  background: transparent;
  border-radius: 11px;
  display: block;
  &:hover, &:active, &:focus {
    background: $colour-background-light;
  }
  &[role="button"] {
    &[aria-pressed="true"]
     {
      color: $colour-background-primary-font;
      background: $colour-background-primary;
      border: 1px solid $colour-background-primary;
      transform: scale(1.05);
    }
  }
}

.btn-contact, .btn-submit, .btn-close {
  @include primary-color-style;
  @include btn;
  height: 2.5rem;
  padding: 5px 10px;
  font-size: calc(0.75rem + 0.2vw);
  margin: 10px calc(20vw - 100px) 20px 20px;
  width: calc(110px + 2.5rem + 1vw);
  white-space: nowrap;
  vertical-align: middle;
  line-height: 1rem;
}

.btn-contact {
  float:right;
  opacity: 0;
  @media (max-width: 768px) {
      position: fixed;
      z-index: 999;
      bottom: 10px;
      left: 0;
      right: 0;
      margin: auto;
      }
}

.btn-submit, .btn-close {
  margin: 20px 0px 10px;
  @media (max-width: 768px) {
    left: 0;
    right: 0;
    margin: 20px auto 10px;
    }
}