
.dropdown {
    display: flex;
    justify-content: flex-start;
    width:100%;
    margin: 20px;
    position:relative;
    z-index: 99;
    opacity: 0 ;
    @media screen and (max-width: 768px) {
        margin: 10px 0px 10px
    }

    &-title {
        margin: 10px 10px 10px 20px;
        font-size: calc(0.7rem + 0.3vw);
    }
    &-content {
        @include primary-color-style;
        font-size: calc(0.6rem + 0.3vw);
        width: calc(60px + 3rem + 2vw);
        position:absolute;
        left:calc(50px + 2rem + 2vw);;
        text-align: left;        
        &[aria-expanded="true"] li {
            display:block;
        }
    }
    & ul {
        display:flex;
        flex-direction: column;
        justify-content: flex-start;
        
    }
    &-option {
        margin: 4px 8px 6px;
        border-top: 1px solid $colour-background-primary-font;
        padding: 10px 6px 6px ;
        transform: scale(1);
        transition: transform 0.2s;
        display: none;
        &:hover {
            transform: scale(1.05)
        }
        &[aria-selected="true"]  {
            border-top: none;
            display: block;
        }
    }

    &-arrow {
        position: absolute;
        height: 12px;
        width: 12px;
        right: 10px;
        top: 18px;
        z-index: 1000;
        transform: rotate(90deg);
         path {
                fill: $colour-background-primary-font;
            }
    }
}
