
.content {
    padding: 0 $layout-margin $layout-margin $layout-margin;
    display: flex;
    justify-content: center ;
    align-items: flex-start;
    flex-wrap: wrap;
    @media (max-width: 768px) {
        padding: 0;
        }
}

.link-maincontent {
    @include btn;
    @include secondary-color-style;
    padding: 5px 20px;
    z-index: 999;
    position: fixed;
    width: max-content;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: none;
}

.thumb-photographer {
    width:350px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    margin: 20px;
    text-align: center;
    transform: scale(1);
    transition: transform 0.2s ease-in-out;
    opacity:1;
        
    &:hover, &:active, &:focus {
        transform: scale(1.05);
        -webkit-tap-highlight-color: transparent;
        opacity: 0.8;
    }
    &:active {
        outline: none !important; 
    }
    
    & img {
            width: 200px;
            height: 200px;
            border-radius: 100%;
            object-fit: cover;
            overflow:hidden;
        }

    & .photographer-profile {
        display:flex;
        flex-direction: column;
        justify-content: center;
        &__location {
            color: $colour-primary;
            font-size: calc(0.75rem + 0.5vw);
            margin-bottom: 3px;
        }
        &__tagline {
            color: black;
            font-size: calc(0.5rem + 0.3vw);
            margin-bottom: 3px;
        }
        &__price {
            color: $colour-tertiary-light;
            font-size: calc(0.5rem + 0.3vw);
        }
    }

    & .photographer-tags {
        display:flex;
        flex-direction: row;
        @include tagslist-style;
    }

}

.photographer-header {
    text-align: left;
    flex-direction: row;
}
