
.photographer-header {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:flex-start;
    margin: 20px;
    padding: 20px 40px;
    text-align: left;
    background-color: $colour-background-light;
    width: 100%;
    & img {
            width: 120px;
            min-width: 120px;
            height: 120px;
            border-radius: 100%;
            object-fit: cover;
        }

    & .photographer-profile {
        display:flex;
        flex-direction: column;
        &__location {
            color: $colour-primary;
            font-size: calc(0.75rem + 0.5vw);
            margin-bottom: 3px;
        }
        &__tagline {
            color: black;
            font-size: calc(0.5rem + 0.3vw);
            margin-bottom: 3px;
        }
        &__price {
            color: $colour-tertiary-light;
            font-size: calc(0.5rem + 0.3vw);
        }
    }

    & .photographer-tags {
        display:flex;
        @include tagslist-style;
        & ul {
            text-align: left;
        }
    }

    & .btn-contact {
        @include primary-color-style;
        height: 50px;

        @media (max-width: 768px) {
            position: fixed;
            bottom: 10px;
            left: 0;
            right: 0;
            margin: auto;
            }
    }
}
