// @mixin box-shadow($colour-shadow: $colour-btn-shadow) {
//   box-shadow: 0px 5px 4px $colour-shadow;
// }


@mixin font-style($colour-shadow: $colour-btn-shadow) {
  box-shadow: 0px 5px 4px $colour-shadow;
}

@mixin tagslist-style() {
  & ul {
    list-style: none;
    text-align: center;
    & li {
        display: inline-block;
        margin: 5px 4px 
    }
}
}

@mixin primary-color-style {
  background-color: $colour-background-primary;
  color: $colour-background-primary-font;
  border-radius: 3px;
  border:none;
  padding: 2.5px 9px;
  font-size: 0.75rem;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-decoration: none;
}